.jfModal {
  background-color: rgba(8, 9, 11, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2147483647 !important;
  animation: fadeIn 0.15s;
  padding: 16px;
  * {
    box-sizing: border-box;
  }
  &--title {
    padding: 32px 32px 0 32px;
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border-radius: 8px;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      svg {
        width: 32px;
        height: 32px;
      }
      &-error {
        background-color: rgba(254, 202, 202, 0.5);
        color: var(--jfv-red-500);
      }
      &-success {
        background-color: rgba(203, 251, 123, 0.5);
        color: var(--jfv-green-500);
      }
      &-warning {
        background-color: rgba(255, 220, 123, 0.5);
        color: var(--jfv-yellow-500);
      }
      &-informative {
        background-color: rgba(119, 207, 255, 0.5);
        color: var(--jfv-blue-200);
      }
      @media (min-width: 480px) {
        width: 80px;
        height: 80px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    h3 {
      color: var(--jfv-navy-700);
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    p {
      color: var(--jfv-navy-300);
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      margin-top: 8px;
    }
    @media (min-width: 480px) {
      h3 {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &-info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 8px;
      width: fit-content;
      padding: 8px;
      border-radius: 4px;
      background-color: var(--jfv-navy-25);
      color: var(--jfv-navy-300);
      margin: 16px auto 0;
      p {
        text-align: left;
        margin: 0;
      }
      &-icon {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin: 2px 0;
      }
    }
  }
  &--close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &--container {
    background-color: var(--jfv-white);
    width: 100%;
    border-radius: 8px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    &-small {
      max-width: 480px;
    }
    &-medium {
      max-width: 640px;
    }
    &-large {
      max-width: 800px;
    }
  }
  &--actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 32px;
    @media (min-width: 480px) {
      flex-direction: row;
    }
  }
  &--whats-new {
    .jfModal--close {
      top: 28px;
      right: 28px;
      @media (max-width: 480px) {
        width: 24px;
        height: 24px;
      }
    }
  }
  &--header {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px 32px;
    border-bottom: 1px solid var(--jfv-navy-50);
    &-title {
      padding-inline-end: 32px;
      h3 {
        color: var(--jfv-navy-700);
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin: 0;
      }
      p {
        color: var(--jfv-navy-300);
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }
      @media (max-width: 480px) {
        h3 {
          font-size: 16px;
          line-height: 20px;
        }
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  &--body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px;
    border-bottom: 1px solid var(--jfv-navy-50);
    overflow-y: scroll;
    &-img {
      width: 100%;
      height: auto;
    }
    &-list {
      margin: 0;
      list-style: unset;
      color: #252f58;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.28px;
      padding-inline-start: 24px;
      li {
        margin: 0;
        span {
          font-weight: 600;
        }
      }
    }
  }
  &--footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
  }
  @media (max-width: 480px) {
    padding: 32px;
  }
}
